.grid {
    display: grid;
    grid-template-columns: 35% 45% 20%;
    width: 80%;
    margin: 0 10%;
}

@media screen and (max-width: 1200px) {
    .grid {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 100%;
    }
}

.grid>div {
    height: 30vh;
    overflow: hidden;
    background: #101318;

    display: flex;
    justify-content: center;
    align-items: center;
}

.grid>div *:not(h3) {
    transform: scale(1);
    filter: blur(0px) grayscale(0) brightness(1) contrast(1);

    transition: 0.2s;
}

.grid>div:hover *:not(h3) {
    transform: scale(1.15);
    filter: blur(5px) grayscale(1) brightness(0.5) contrast(1.2);
}

.✍️ {
    background: #f0f3f8 !important;
    grid-column: 1 / 3;
}

.✍️>h3 {
    color: #101318;
    font-size: 64px;
    margin: 0 !important;
}

.grid img,
.grid video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.large {
    grid-column: 2 / 4;
}

.grid>div:not(.✍️)>h3 {
    position: absolute;
    color: white;
    text-align: center;
    opacity: 0;

    transition: 0.2s;
}

.grid>div:not(.✍️):hover>h3 {
    opacity: 1;
}