.button {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.button>p {
    margin: 0;
}

.button:hover {
    background-color: #fff;
    color: #000;
}